.Register {
	align-items: center;
}

.Register span{
    color:tomato;
}

.Register {
	align-items: center;
}

.Register input{    
    width: 250px;
    /* box-sizing: border-box; */

}

.Register button{
    
    margin: 10px 0;
    width: 100%;


}



.Register > form{
    text-align: left;
    align-items: flex-start;
}